
h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.filter-container {
    text-align: center;
}

.filter-container label{
    font-weight: bold;
}

.anime-table{
    text-align: center;
    max-width: 85%;
    border-collapse: collapse;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.anime-table th,
 .anime-table td {
    padding: 15px;
    border: 1px solid #ddd;
}

.anime-table th {
    background-color: #ebe7e7;
}

.anime-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
    
}

.anime-info img {
    width: 70px;
    border-radius: 3px;
}
.anime-info span {
    display: inline-block;
}

textarea {
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    height: 60px;
    min-height: 40px;
    padding: 5px 10px;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: vertical;
    line-height: 1.4;
    overflow-y: auto;
    font-family: Arial;
}

.action-btn {
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-btn:hover {
background-color: #0056b3;
}

.delete-btn {
background-color: #dc3545;
}

.delete-btn:hover {
background-color: #a71d2a;
}
