h1 {
    text-align: center;
    margin: 30px 0 20px;
}

.filter-container {
    text-align: center;
    margin-bottom: 20px;
}

.filter-container label{
    font-weight: bold;
}

.anime-table{
    text-align: center;
    border-collapse: collapse;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1200px;
}
.anime-table th,
 .anime-table td {
    padding: 15px;
    border: 1px solid #ddd;
}

.anime-table th {
    background-color: #ebe7e7;
}

.anime-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.anime-info img {
    width: 70px;
    border-radius: 3px;
}

textarea {
    height: 60px;
    min-height: 40px;
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    resize: vertical;
    line-height: 1.4;
    font-family: Arial;
    width: 100%;
    max-width: 400px;
}

.action-btn,
.delete-btn {
    padding: 6px 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.action-btn {
    background-color: #007bff;

}
.action-btn:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #a71d2a;
}
select {
    padding: 4px;
    border-radius: 12px;
}
.number {
  width: 80px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#noAnime {
    text-align: center;
}

.link {
    padding: 12px 20px;
    font-size: 25px;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    .anime-table {
        width: 100%;
        font-size: 14px;
    }

    .anime-table th,
    .anime-table td {
        padding: 10px;
        font-size: 14px;
    }

  
    .anime-info img {
        width: 60px;
    }

    .number {
        width: 100%;
        font-size: 14px;
    }

}
