* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial,sans-serif;
    color: #333;
    background-color: #f8f9fa;
}
.nav_bar {
    background-color: #2c3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.nav_left, .nav_right {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav_left li, .nav_right li {
    list-style: none;
}
.nav_right li {
    margin-left: 20px;
}
.site_name {
    color: white;
    font-size: 30px;
    font-weight: bold; 
}

.nav_links {
    color: white;
    text-decoration: none;  
    padding: 10px 15px;
    border-radius: 5px;
}

.nav_links:visited {
    text-decoration: none;
    color: white;
}
.nav_links:hover {
    text-decoration: underline;
    background-color: #34495e
}