<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/home.css">
    <title>Home</title>
</head>
<body>
    <nav class="nav_bar">
        <ul class="nav_left">
            <li class="site_name">WatchNest</li>
        </ul>
        <ul class="nav_right">
            <li><a href="/shows" class="nav_links">Shows</a></li>
            <li><a href="/login" class="nav_links">Login</a></li>
            <li><a href="/register" class="nav_links">Register</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Welcome to WatchNest</h1>
        <p>Track your favourite shows. Organize what you're watching, what you've completed, or what you plan to watch.</p>
        <a href="/login" class="btn-start">Get Started</a>
    </div>
    <div class="about">
        <h1>How It Works</h2>
        <div class="steps">
            <div class="step">
                <h3>1. Register</h3>
                <p>Create your free account to start your journey.</p>
            </div>
            <div class="step">
                <h3>2. Browse Shows</h3>
                <p>Discover anime and check out details like rating, genre, and studio.</p>
            </div>
            <div class="step">
                <h3>3. Track Your List</h3>
                <p>Add shows, rate them, set statuses, and keep notes.</p>
            </div>
        </div>
    </div>

</body>
</html>